<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/header.ejs") %>

        <h1><%= h1 %></h1>
        <%- include("./partials/links.ejs") %> <%-
        include("./partials/footer.ejs") %>
    </body>
</html>
